a, label, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#calendar {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}


#calendar th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

#calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar .domingo {
    color: red;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#calendario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    font-weight: bold;
}

#color {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#day {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
